ion-content {
  --background: #e0e0e0;


  .profile {
    background-color: #ffffff;
    margin: 80px 10px 10px 10px;
    padding: 10px;
    min-height: 500px;
  }

  .avatar {
    text-align: center;

    ion-avatar {
      display: inline-block;
      margin: 30px auto;
      width: 160px;
      height: 160px;
      border: 10px solid white;
      margin-top: -80px;
    }
  }
}