<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profileku
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides mode="ios" pager="ios" scrollbar="ios">

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Dinosaurus 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="assets/images/dinosaurus/dino-1.jpg"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Dinosaurus 2</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="assets/images/dinosaurus/dino-2.jpg"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Dinosaurus 3</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="assets/images/dinosaurus/dino-3.jpg"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>


  <div class="profile">
    <div class="avatar">
      <ion-avatar class="ion-activatable">
        <img src="assets/images/avatar/ultraman.jpg" />
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-avatar>
    </div>

    <ion-list>
      <ion-item class="ion-activatable">
        <ion-icon slot="end" name="happy-outline"></ion-icon>
        <ion-label>
          <h2>Bambang</h2>
          <p>bambang@gmail.com</p>
        </ion-label>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Hobby</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let item of hobby" class="ion-activatable">
        <ion-label>{{ item }}</ion-label>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-item>

    </ion-list>

  </div>

</ion-content>